@CHARSET "EUC-KR";

body {
	width: 1350px;
	margin: 50px 45px 0px 45px;
}

path {
	stroke: #fff;
}

path:hover {
	opacity: 0.9;
}

rect:hover {
	fill: blue;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	margin: 0px 45px 0px 0px;
	padding: 8px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

.axis {
	font: 10px sans-serif;
}

.legend tr {
	border-bottom: 1px solid grey;
}

.legend tr:first-child {
	border-top: 1px solid grey;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

.legend {
	margin-bottom: 76px;
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 0px;
}

.legend td {
	padding: 4px 5px;
	vertical-align: bottom;
}

.lgNumOfPeople, .lgIndexTI, .lgIndexPI, .lgIndexSI, .lgIndexTVI, .lgIndexPVI, .lgIndexAI, .lgPercent {
	align: right;
	width: 45px;
}