@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#chartdiv {
	position: relative;
	width: 70%;
	height: 375px;
	background-color: #FFFFFF;
	margin: 0 auto;
}

#clusterdiv {
    position: relative;
    width: 70%;
    height: 375px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

#clusterTitle{
	position: absolute;
	right:30px;
	top:20px;
	color: black;
    font-size: 8pt;	
}


#analysisdiv {
	position: relative;
	display:none;
	width: 70%;
	margin: 0 auto;
	margin-top: 40px; 
	margin-bottom: 40px; 
	font-size:15pt;
	font-style: italic;
	text-align: left;
	padding: 5px;
}

.analysis {
	display:block;
	vertical-align: bottom;
	line-height : 25px;
	font-size: 16px;
	font-style: normal; 
	margin : 12px;
	padding : 10px;
	list-style: none;
	border : 1px solid #dadada;
}

#chartArea{
	position: relative;
	width: 95%;
	z-index: 0;
}

#legendDiv{
	position: absolute;
	display: none;
	right : 10px;
	top : 20px;
	font-size: 8pt;
	z-index:3;
}

#legendDiv table{
	border: 1px solid #dadada;
	padding: 2px;
	text-align: right;
}

#tempTitle{
	color: #00b600;
}

#heartTitle{
	color : #ff8600;
}
#stepTitle{
	color: #770055;
}


#legendDiv table td{
	padding-left: 4px;
	padding-right: 4px;
}


#legendDiv table .type{
	font-size : 6pt;
}

.legendTitle{
	font-weight: bold;
}

